body{
    font-family: 'Inter';
    text-align: center;

}
.main-container{
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 126px auto ;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 2px solid black;
    
}
.input-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    background-color: #6943FF;
}
.main-heading{
    margin: 30px none 15px none;
    font-style: normal;
    font-weight: 1000;
    font-size: 32px;
    color: #FFFFFF;
}
.input{
margin-top: 15px;
margin-bottom: 13px;
width: 117px;
height: 83px;
/* padding: 20px 10px; */
text-align: center;
font-size: 58px;
font-weight: 800;
border: 2px solid #B295FF;
padding: 0;
color: #FFFFFF;
background-color: #6943FF;
font-family: 'Inter';
}
.calculate-btn{
    margin-top: 13px;
    margin-bottom: 34px;
    padding: 9px 28px;
    color:  #3D3D3D;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.display-content{
    width: 550px;
    background-color: #1F2937;
   display: flex;
   flex-direction: column;
   align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    
}
.display{
    width: 500px;
    height: 109px;
    background-color: #273549;
    margin-top: 12px;
    margin-bottom: 12px;
    color:  #CCC1FF;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    padding-top: 31px;
}
#lenght-el{
margin-top: 36px;
}
#mass-el{
    margin-bottom: 36px;
}